{% extends 'index.html' %}

{% block left %}


  {% if  character %}
    <h2>Name : {{character.name}} </h2> </br>
  <h3>  class :{{character.clss}}  </br>
    Hp:{{character.max_hp}} / {{character.hp}} </br>
    Mp:{{character.mp}} / {{character.max_mp}} </br>
    Speed:{{character.speed}} </br>
    Dmg:{{character.dmg}} </br>
    Armor:{{character.armor}} </br>
    Crit chance:{{character.crit_chance}}</br>
    Armor pen:{{character.armmor_pen}} </br>
    Regeneration:{{character.regeneration}} </br>
    Mana regeneration:{{character.mana_regeneration}} </br>
    Special Power:{{character.s_pow}} </br>
    Magic Penetration:{{character.magic_pen}} </br>
    Magic Armor:{{character.magic_a}} </br>
    Dodge:{{character.dodge}} </br>
    Vit:{{character.vit}} </br>
    Str:{{character.str}} </br>
    Agi:{{character.agility}} </br>
    Dex:{{character.dex}} </br>
    Int:{{character.inte}} </br>
    Wis:{{character.wis}} </br>
    Pow:{{character.pow}} </br>
    Def:{{character.defen}} </br>
    </h3>
  {% endif %}

{% endblock %}

{% block right %}

{% endblock %}

{% block bottom %}

{% endblock %}
