<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/main.css">

    <style>
    .container-canvas {
        /* This could be done in one single declaration. See the extended sample. */
        margin-right: auto;
        margin-left: auto;
        width: 800px;
    }
</style>

  <script type="text/javascript">
      var player = {
        this.name = "{{player.name}}";
        this.clss = "{{player.clss}}";
        this.str = {{player}};

      };
  </script>


    <title>Gjango</title>
  </head>
  <body onload="startGame()">

    <div class="container">
      <div class="row  w-100">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {{navi_one}}" href="/">Main site</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{navi_two}}" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{navi_three}}" href="/game">Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{navi_four}}" href="/register" tabindex="-1" aria-disabled="true">Registration</a>
        </li>
        {% if is_logged %}
        <li class="nav-item">
          <a href="\log_out\"><div class="btn btn-success">Loged in </div></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="\loging_in\"><div class="btn btn-danger">Loged in </div></a>
        </li>
        {% endif %}
      </ul></div>
      <div class="row">
        <div class="alert alert-warning w-100 title_bar" >
          <center><h1>  {{title}} </h1> </center>
        </div>
      </div>
      <div class="row ">
        <div class="wrapper">
          <textarea id="game_textarea" cols="8"></textarea>
      </div>
      </div>

      <hr>
        <div class="row">

          <div class="alert alert-dark w-100" role="alert">
            {% block bottom %}
            {% endblock %}
          </div>
        </div>

        <script type="text/javascript"  src="/static/js/combat_game.js">

        </script>

  </body>
</html>
