{% extends 'index.html' %}

{% block left %}

{% endblock %}

{% block right %}

  {% if form  %}
  {% if not Loged_in %}
  <form action="/loging_in/" method="POST">
    {% csrf_token %}
  Username:  <div class="form-group">{{form.name_input}} </div> </br>
  Password:  <div class="form-group">{{form.password_input}} </div>
  {% if Error %}

    <div class="alert alert-danger"> {{Error}} </div>

  {% endif%}
  <input type="Submit" class="btn btn-success" value="Login"/>

  </form>
  {% else %}
    <div class="alert alert-success"> Success !! </div>
  {% endif %}
  {% endif %}

{% endblock %}

{% block bottom %}

{% endblock %}
