{% extends 'index.html' %}

{% block right %}
 <script type="text/javascript" src="/static/js/delete_character_aproved.js">

 </script>
  {% if is_logged %}

  {% if form %}

  <form action='/profile/' method="POST">
    {% csrf_token %}
    <div class="form-group">
    <h3> Create yout Character </h3>
        {{form.name_input}} </br>
        </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Choose your class</label>
      {{form.Type_choice}} </br>
    </div>
      <input class="btn btn-success" type="submit" value="Create"/>
      </div>
  </form>

  {% endif %}

  {% endif %}

<hr>



{% endblock %}

{% block left %}

  {% if is_logged %}

  <div class="alert alert-info" > Username: {{username}} </div>
  {% if Characters %}
    {% for character in Characters %}
      <a href="/character/{{character.id}}/">  {{character.name}} </a>
      <button onclick="delete_character_aproved(this)" name="{{character.id}}" value="Delete" class="btn btn-warning">Delete</button></br>
    {% endfor %}
  {% endif %}
<hr>
  {% else %}

  <h1> Please login  </h1>

  {% endif %}

{% endblock %}

{% block bottom %}

{% endblock %}
